---
import Meta from "../global/Meta.astro";
import { APICall } from "../lib/api"


const query = `query GetPages {
  pages {
    nodes {
      title
      slug
    }
  }
}`;

const response = await APICall<any>(query);
const info = response.pages.nodes[0];
console.log(info);
---
<!doctype html>
<html lang="pl">
	<head>
		<Meta />
	</head>
	<body>
		<h2>{info.title}</h2>
		<p>Opis:{info.slug}</p>
	</body>
</html>

<style>
</style>
