---
import Meta from "../global/Meta.astro";
import { APICall } from "../lib/api";

// const query = `query GetPages {
//   pages {
//     nodes {
//       title
//       slug
//     }
//   }
// }`;
// const response = await APICall<any>(query);
// const info = response.pages.nodes[0];
---

<!doctype html>
<html lang="pl">
  <head>
    <Meta />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows:
      [header] 5rem [hero-section] calc(100vh - 5rem)
      [shortPosts] auto [footer] auto;
    position: relative;
    overflow-x: hidden;

    background: linear-gradient(
      in hsl to bottom,
      var(--primary-color) 68%,
      var(--secondary-color) 100%
    );
  }
</style>
