---
import Meta from "../global/Meta.astro";


import { APICall } from "../lib/api"


const query = `query siteInfo {
  generalSettings {
    title
    description
  }
}`;

const response = await APICall<any>(query);
const info = response.generalSettings;
---
<!doctype html>
<html lang="pl">
	<head>
		<Meta />
	</head>
	<body>
		<h2>{info.title}</h2>
		<p>Opis:{info.description}</p>
	</body>
</html>

<style>
</style>
