---
import Meta from "../global/Meta.astro";
---
<!doctype html>
<html lang="pl">
	<head>
		<Meta />
	</head>
	<body>
		<header></header>
		<main>
			<slot />
		</main>
		<footer></footer>
	</body>
</html>

<style>
</style>
